.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
