.footer__column-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: white;
  list-style-type: none;
}


.footer__column-link:hover {
  opacity: 0.4;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}
