.cards__image {
  height: 160px;
  width: 160px;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
}
