
.footer__column-links {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  color: white;
}

