.khan__book-pic {
  margin-top: 0;
  margin-right: 48px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  height: 620px;
  width: 608px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: top left;
}
